# Byte Compiled Files
__pycache__/
*$py.class
bin/

# Packaging / Distributions
.Python
build/
lib/
var/
__pypackages__/

# Unit & Coverage Tests
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg

# Mac File
../.DS_Store
.DS_Store